.content__items-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.content__items-empty {
  font-size: 20px;
  opacity: 0.7;
}
@media (min-width: 500px) {
  .content__items-list {
    flex-direction: row;
  }
}